.button-container {
    display: flex;
    justify-content: center;
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: rgb(164, 101, 227);
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
  
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }

    &.red {
      background-color: rgb(223, 31, 31);
      color: white;
      border: none;
  
      &:hover {
        background-color: white;
        color: rgb(221, 35, 35);
        border: none;
      }
    }

    &.checkout {
      background-color: rgb(25, 1, 1);
      color: white;
      border: none;
      font-size: small;
      word-spacing: normal;
  
      &:hover {
        background-color:rgb(163, 50, 50);
        color: white;
        border: none;
      }
    }
     
}