.sign-up-container {
    display: flex;
    flex-direction: column;
    width: 380px;

    background-color: beige;
  
    h3 {
      margin: 10px 0;
    }

    .buttons-container {
      display: flex;
      justify-content: space-between;

      .signup-button {
        width: 170px;
        margin: 5px 15px 5px 0;
        padding: 10px 15px;
        border: none;
  
        color: gray;
        font-size: 16px;
        text-shadow: rgba(245,245,245,0.5) 3px 5px; 
  
        cursor: pointer;
      }
  
      .submit-button {
        @extend .signup-button;
        background-color: rgb(191, 239, 191);
      }
  
      .clear-button {
        @extend .signup-button;
        background-color: antiquewhite;
      }
    }

}